{% macro render_input(field,showErrors="true") %}
{% if field.type == "StringField" %}
<div class="flex flex-col gap-2">
    <div class='flex gap-2 border border-zync-400 rounded-md px-3 py-1 justify-between items-center  transition-all focus-within:border-lime-600 '>
        <label class='text-zync-800 focus-within:text-lime-600 font-bold text-sm'>{{field.label}}</label>
        <input name="{{field.name}}" class='w-full focus:outline-none text-black ' />
      </div>
      {% if showErrors %}
    {% if field.errors %}
            {% for error in field.errors %}
                <span class="text-xs text-red-600">{{error}}</span>
            {% endfor %}
    {% endif %}
{% endif %}    
</div>
    
{% elif field.type == "SubmitField" %}
    
    <button  type="submit" class="max-w-xs max-h-12 justify-center align-center  px-5 py-2 bg-green-600 hover:bg-green-700 rounded-md text-white font-bold flex gap-3 items-center text-sm">
        {{field.label}}
    </button>
{% endif %}


{% endmacro %}