<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <header class="bg-white">
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
              <a class="block text-teal-600" href="/">
                
              </a>
            </div>
            
              <nav aria-label="Global">
                <ul class="flex items-center gap-6 text-base">
                  <li>
                    <a class="text-gray-500 transition hover:text-lime-600" href="{{url_for('admin.user.index')}}" >
                      Users
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-500 transition hover:text-lime-600" href="{{url_for('admin.post.index')}}" >
                      Posts
                    </a>
                  </li>
                 
                </ul>
              </nav>
              
            <div class="flex items-center gap-4">
              <div class="sm:flex sm:gap-4">
                <a class="rounded-md bg-lime-600 px-5 py-2.5 text-sm font-medium text-white shadow" href="/">
                  Login
                </a>
      
                <div class="hidden sm:flex">
                  <a
                    class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-lime-800"
                    href="/">
                    Register
                  </a>
                </div>
              </div>
      
          
            </div>
          </div>
        </div>
      </header>
    
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{page_title}}</h1>
        </div>
    </header>
    
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        {% block content %}
      
        {% endblock %}
      </div>
    </main>
</body>
</html>